@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

html, body {
    font-family: var(--font-base), sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: inherit;
}
