// Import complete stylesheets
// Pages
@use "App";
@use "Home";
@use "newHomepage/NewHomepage";
@use "../components/resume/AboutMe";

// Components
@use "homepage/activity";

// Animations
@use "homepage/glitch";
@use "loading-anim/WatchDogs";

// The rest
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}   
