@use "../../const.scss" as const;

.App {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.root {
    // background-color: const.$base-background;
    
}
