@use "../../const" as const;
@use "sass:color";

footer {
    height: const.$footer-height;

    padding: 1em;

    background-color: gray;
    display: flex;
    align-items: end;
}

footer>div>div {
    padding: 1em 0;
    // margin: 1em;
    border: 1px solid black;
}

.footer-external-links {
    padding: 0;

    .col {
        padding: 0;

        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            padding: 1em 2em;
            width: 100%;
            display: flex;
            justify-content: space-between;

            border: 1px solid blue;
            background-color: transparent;

            :first-child {
                border-right: 0;
            }

            &:hover {
                background-color: color.adjust(const.$base-color, $lightness: -10%);
            }

            span {
                display: flex;
                gap: 1em;
            }
        }

        &:first-child {
            border-right: 0;
        }
    }
}