@use "homepage/activity";


.start-button:active {
    filter: sepia(10%) saturate(300%) brightness(60%) hue-rotate(180deg);


    border-top: #101114 1px solid;
    border-left: #101114 1px solid;
    border-bottom: #fdffff 1px solid;
    border-right: #fdffff 1px solid;
}

.home-container {
    // display:;
    // flex-direction: column;
    // flex: 1;

    position: static;
    // scrol

    height: 100vh;
    width: 100vw;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1.5rem;
}

.discord-box-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.projects-card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.projects-intro {
    color: lightgray;
    margin-bottom: 0.25rem;
}

.projects-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: grid;
    gap: 0.75rem;
}

.project-item {
    background-color: #1c1f22;
    border: 1px solid #2f3336;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
}

.project-link {
    color: #9bb6ff;
    font-weight: 600;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.project-summary {
    color: lightgray;
    margin-top: 0.25rem;
}

.home-grid {
    display: grid;
    margin: 2%;
    padding: 2rem;
    flex-direction: column;
    flex: 1;

    border: solid 0.5em white;
}

.home-taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    border-top: #fdffff 2px solid;
    background-color: #c3c3c3;
    height: 26px;
    width: auto;
}


.menu-container {
    margin: auto 0 2.5% 2.5%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    align-items: baseline;
}

.menu {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: large;

    list-style: none;
}

.menu>li {
    margin: 0.75rem;
}

.menu>li>a {
    padding: 0.25rem 3rem 0.25rem 0.5rem;
    text-decoration: none;

    color: #fff;
    background-color: #101114;
}

.menu>li>a:hover {
    padding: 0.75rem 3rem 0.75rem 0.5rem;
    margin: 0.75rem 0rem;

    background-color: blue;
}

.menu>li>a:hover::before {
    text-decoration: none;
    content: "// ";
}
