html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-base), sans-serif;
}

#root {
    min-height: 100%;
    background-color: inherit;
}
