.league-container>td {
    background-color: #000B12 !important;
}
.champion-abilities>td {
    color: #ad9c72 !important;
}

.champion-abilities>td>h3 {
    color: #dfd6be !important;
}



.league-container>tbody>tr>td {
    color: #dfd6be !important;
    background-color: #000B12 !important;
}





.placeholder {
    color: #c082cb;
}