$bs-body-bg: #000B12 !important;

.league-container {
    background-color: #000B12 !important;
    border: 1px solid #ad9c72 !important;
    color: #ad9c72 !important;
}

.league-container>td {
    background-color: #000B12 !important;
}

.champion-abilities>td {
    color: #ad9c72 !important;
}

.champion-abilities>td>h3 {
    color: #dfd6be !important;
}



.league-container>tbody>tr>td {
    color: #dfd6be !important;
    background-color: #000B12 !important;
}



.league-header {
    background-color: #000B12 !important;
    color: #dfd6be !important;
}



.placeholder {
    color: #c082cb;
}